#reservation {

    position: relative;
    width: 90%;
    height: 600px;
  }


.container1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
select,
.button1{
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    font-size: 20px;
    text-align: center;
    font-family: cursive;

    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}








<link rel="stylesheet" href="form.css" />